<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.com.weixin.common.dao.WxKeyWordsDao">
	<resultMap id="queryResultMap" type="cn.com.weixin.common.entity.WxKeyWords">
		<result column="kw_id" property="kwId" jdbcType="INTEGER"/>
		<!-- 关键字名称 -->
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<!-- 关键字 -->
		<result column="keywords" property="keywords" jdbcType="VARCHAR"/>
		<!-- 回复内容或图片mediaId -->
		<result column="content" property="content" jdbcType="VARCHAR"/>
		<!-- 匹配类型,1:完全匹配,2:模糊匹配,3无匹配 -->
		<result column="match_type" property="matchType" jdbcType="TINYINT"/>
		<!-- 回复类型,1:文本回复,2:图片回复 -->
		<result column="reply_type" property="replyType" jdbcType="TINYINT"/>
		<!-- 原始ID -->
		<result column="original_id" property="originalId" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!-- 聚合查询 -->
	<select id="findProjection" parameterType="cn.com.goldfinance.jcframework.expression.projection.ProjectionQuery" resultType="java.util.HashMap">SELECT 
		<include refid="expressionBlock.projectionColumn"/> FROM wx_key_words t 
		<include refid="expressionBlock.where"/>  
		<include refid="expressionBlock.groupBy"/>  
		<include refid="expressionBlock.having"/>  
		<if test="orderable">ORDER BY ${order}</if> 
	</select>
	<!-- 根据条件查询记录 -->
	<select id="find" parameterType="cn.com.goldfinance.jcframework.expression.ExpressionQuery" resultMap="queryResultMap">SELECT 
		<choose>
			<when test="columns.size&gt;0"> 
				<foreach collection="columns" item="column" separator=",">${column}</foreach> 
			</when>
			<otherwise>t.kw_id , t.name , t.keywords , t.content , t.match_type , t.reply_type , t.original_id , t.add_time</otherwise>
		</choose> FROM wx_key_words t
		<include refid="expressionBlock.where"/>  
		<choose>
			<when test="orderable">ORDER BY ${order}</when>
			<otherwise>ORDER BY t.kw_id desc</otherwise>
		</choose>  
		<if test="!isQueryAll">LIMIT #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}</if> 
	</select>
	<!-- 根据条件查询记录数 -->
	<select id="findTotalCount" parameterType="cn.com.goldfinance.jcframework.expression.ExpressionQuery" resultType="java.lang.Integer">SELECT count(*) FROM wx_key_words t 
		<include refid="expressionBlock.where"/> 
	</select>
	<!-- 根据主键获取单条记录 -->
	<select id="get" resultMap="queryResultMap" parameterType="cn.com.weixin.common.entity.WxKeyWords">SELECT t.kw_id , t.name , t.keywords , t.content , t.match_type , t.reply_type , t.original_id , t.add_time FROM wx_key_words t WHERE kw_id = #{kwId,jdbcType=INTEGER} LIMIT 1</select>
	<!-- 根据条件获取单条记录 -->
	<select id="getByExpression" resultMap="queryResultMap" parameterType="cn.com.goldfinance.jcframework.expression.ExpressionQuery">SELECT t.kw_id , t.name , t.keywords , t.content , t.match_type , t.reply_type , t.original_id , t.add_time FROM wx_key_words t
		<include refid="expressionBlock.where"/> LIMIT 1
	</select>
	<!-- 保存,保存全部字段 -->
	<insert id="save" parameterType="cn.com.weixin.common.entity.WxKeyWords" keyProperty="kwId" keyColumn="kw_id" useGeneratedKeys="true">INSERT INTO wx_key_words ( `name` , `keywords` , `content` , `match_type` , `reply_type` , `original_id` , `add_time` ) VALUES ( #{name,jdbcType=VARCHAR} , #{keywords,jdbcType=VARCHAR} , #{content,jdbcType=VARCHAR} , #{matchType,jdbcType=TINYINT} , #{replyType,jdbcType=TINYINT} , #{originalId,jdbcType=VARCHAR} , #{addTime,jdbcType=TIMESTAMP} )</insert>
	<!-- 保存,保存不为NULL的字段 -->
	<insert id="saveNotNull" parameterType="cn.com.weixin.common.entity.WxKeyWords" keyProperty="kwId" keyColumn="kw_id" useGeneratedKeys="true">INSERT INTO wx_key_words
		<trim prefix="(" suffix=")" suffixOverrides=","> 
			<if test="name != null">`name`,</if>  
			<if test="keywords != null">`keywords`,</if>  
			<if test="content != null">`content`,</if>  
			<if test="matchType != null">`match_type`,</if>  
			<if test="replyType != null">`reply_type`,</if>  
			<if test="originalId != null">`original_id`,</if>  
			<if test="addTime != null">`add_time`,</if> 
		</trim>  
		<trim prefix="values (" suffix=")" suffixOverrides=","> 
			<if test="name != null">#{name,jdbcType=VARCHAR},</if>  
			<if test="keywords != null">#{keywords,jdbcType=VARCHAR},</if>  
			<if test="content != null">#{content,jdbcType=VARCHAR},</if>  
			<if test="matchType != null">#{matchType,jdbcType=TINYINT},</if>  
			<if test="replyType != null">#{replyType,jdbcType=TINYINT},</if>  
			<if test="originalId != null">#{originalId,jdbcType=VARCHAR},</if>  
			<if test="addTime != null">#{addTime,jdbcType=TIMESTAMP},</if> 
		</trim> 
	</insert>
	<!-- 更新,更新全部字段 -->
	<update id="update" parameterType="cn.com.weixin.common.entity.WxKeyWords">UPDATE wx_key_words
		<set>name=#{name,jdbcType=VARCHAR}, keywords=#{keywords,jdbcType=VARCHAR}, content=#{content,jdbcType=VARCHAR}, match_type=#{matchType,jdbcType=TINYINT}, reply_type=#{replyType,jdbcType=TINYINT}, original_id=#{originalId,jdbcType=VARCHAR}, add_time=#{addTime,jdbcType=TIMESTAMP},</set> WHERE kw_id = #{kwId,jdbcType=INTEGER}
	</update>
	<!-- 根据指定条件更新 -->
	<update id="updateByExpression">UPDATE wx_key_words 
		<set>name=#{entity.name,jdbcType=VARCHAR}, keywords=#{entity.keywords,jdbcType=VARCHAR}, content=#{entity.content,jdbcType=VARCHAR}, match_type=#{entity.matchType,jdbcType=TINYINT}, reply_type=#{entity.replyType,jdbcType=TINYINT}, original_id=#{entity.originalId,jdbcType=VARCHAR}, add_time=#{entity.addTime,jdbcType=TIMESTAMP},</set>  
		<include refid="expressionBlock.updateWhere"/> 
	</update>
	<!-- 更新不为NULL的字段 -->
	<update id="updateNotNull" parameterType="cn.com.weixin.common.entity.WxKeyWords">UPDATE wx_key_words
		<set> 
			<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>  
			<if test="keywords != null">keywords=#{keywords,jdbcType=VARCHAR},</if>  
			<if test="content != null">content=#{content,jdbcType=VARCHAR},</if>  
			<if test="matchType != null">match_type=#{matchType,jdbcType=TINYINT},</if>  
			<if test="replyType != null">reply_type=#{replyType,jdbcType=TINYINT},</if>  
			<if test="originalId != null">original_id=#{originalId,jdbcType=VARCHAR},</if>  
			<if test="addTime != null">add_time=#{addTime,jdbcType=TIMESTAMP},</if> 
		</set> WHERE kw_id = #{kwId,jdbcType=INTEGER}
	</update>
	<!-- 根据指定条件更新不为NULL的字段 -->
	<update id="updateNotNullByExpression">UPDATE wx_key_words 
		<set> 
			<if test="entity.name != null">name=#{entity.name,jdbcType=VARCHAR},</if>  
			<if test="entity.keywords != null">keywords=#{entity.keywords,jdbcType=VARCHAR},</if>  
			<if test="entity.content != null">content=#{entity.content,jdbcType=VARCHAR},</if>  
			<if test="entity.matchType != null">match_type=#{entity.matchType,jdbcType=TINYINT},</if>  
			<if test="entity.replyType != null">reply_type=#{entity.replyType,jdbcType=TINYINT},</if>  
			<if test="entity.originalId != null">original_id=#{entity.originalId,jdbcType=VARCHAR},</if>  
			<if test="entity.addTime != null">add_time=#{entity.addTime,jdbcType=TIMESTAMP},</if> 
		</set>  
		<include refid="expressionBlock.updateWhere"/> 
	</update>
	<!-- 根据主键删除记录 -->
	<delete id="del" parameterType="cn.com.weixin.common.entity.WxKeyWords">DELETE FROM wx_key_words WHERE kw_id = #{kwId,jdbcType=INTEGER}</delete>
	<!-- 根据条件删除记录 -->
	<delete id="delByExpression" parameterType="cn.com.goldfinance.jcframework.expression.ExpressionQuery">DELETE FROM wx_key_words 
		<include refid="expressionBlock.where"/> 
	</delete>
	<!-- ======自定义SQL区域start====== -->
	<!-- ======自定义SQL区域end====== -->
</mapper>
